HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.gradle/checksums/checksums.lock
.gradle/checksums/checksums.lock
bin/main/com/cg/trg/boot/salon/bean/Address.class
bin/main/com/cg/trg/boot/salon/bean/Appointment.class
bin/main/com/cg/trg/boot/salon/bean/Card.class
bin/main/com/cg/trg/boot/salon/bean/Payment.class
bin/test/com/cg/trg/boot/OnlineSalonServiceApplicationTests.class
